{% extends 'base2.html.twig' %}

{% block body %}

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h4>Modifier un Personnel</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for message in app.flashes("add") %}
                        <div class="btn btn-success btn-rounded swal-success float-right">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Modifier un Personnel</h4>
                        </div>
                        <div class="card-block">
                            <div class="mrg-top-40">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto">
                                        {{ form_start(edit_form) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Numero</label>
                                                    {{ form_widget(edit_form.numero,{'attr': {'class' : 'form-control','placeholder' : 'Numero'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.numero) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Prénom</label>
                                                    {{ form_widget(edit_form.prenom,{'attr': {'class' : 'form-control','placeholder' : 'Prénom'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.prenom) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Nom</label>
                                                    {{ form_widget(edit_form.nom,{'attr': {'class' : 'form-control','placeholder' : 'Nom'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.nom) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Cin</label>
                                                    {{ form_widget(edit_form.cin,{'attr': {'class' : 'form-control','placeholder' : 'Cin'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.cin) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Fonction</label>
                                                    {{ form_widget(edit_form.fonction,{'attr': {'class' : 'form-control','placeholder' : 'Fonction'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.fonction) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Grade</label>
                                                    {{ form_widget(edit_form.grade,{'attr': {'class' : 'form-control','placeholder' : 'Grade'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.grade) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Salaire</label>
                                                    {{ form_widget(edit_form.salaire,{'attr': {'class' : 'form-control','placeholder' : 'Salaire'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.salaire) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Numéro Cnss</label>
                                                    {{ form_widget(edit_form.numeroCnss,{'attr': {'class' : 'form-control','placeholder' : 'NumeroCnss'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.numeroCnss) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date d'embauche</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control date-attribution"
                                                               id="date-embauche" data-date-format="yyyy-mm-dd"
                                                               placeholder="Date d'embauche"
                                                               data-provide="datepicker">
                                                    </div>
                                                    {{ form_widget(edit_form.dateEmbauche,{'attr': {'class' : 'form-control d-none','placeholder' : 'date d\'embauche'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.dateEmbauche) }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date Fin Contrat</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control date-attribution"
                                                               id="date-fin-contrat" data-date-format="yyyy-mm-dd"
                                                               placeholder="Date Fin Contrat"
                                                               data-provide="datepicker">
                                                    </div>
                                                    {{ form_widget(edit_form.dateFinContrat,{'attr': {'class' : 'form-control d-none','placeholder' : 'datePaiement'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.dateFinContrat) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Photo</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        {{ form_widget(edit_form.photo,{'attr': {'class' : ''}}) }}
                                                    </div>
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.photo) }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Dossier Médical</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        {{ form_widget(edit_form.dossierMedical,{'attr': {'class' : ''}}) }}
                                                    </div>
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.dossierMedical) }}</label>
                                                </div>
                                            </div>
                                        </div>

                                        {{ form_rest(edit_form) }}
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="text-right mrg-top-5">
                                                    <button type="submit" class="btn btn-primary">Editer le personnel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <script>
        $(document).on("change", '.date-attribution', function () {
            var datee = $(this).val();
            var input = $(this).closest('div').parent().find('.d-none');
            input.val(datee);
        });
        $('#date-embauche').val('{{ edit_form.vars.value.dateEmbauche|date('Y-m-d') }}');
        $('#date-fin-contrat').val('{{ edit_form.vars.value.dateFinContrat|date('Y-m-d') }}');
    </script>
{% endblock %}