{% extends 'base2.html.twig' %}

{% block body %}
    <style>
        .one-em{
            font-size: 1em !important;
        }
        #dt-opt {
            table-layout: fixed;
            width: 100% !important;
            text-overflow: ellipsis;
        }

        #dt-opt th {
            width: auto !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        #dt-opt th:hover {
            white-space: normal;
        }

        #dt-opt td #actions {
            white-space: normal;
        }
    </style>
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Personnels</h4>
                    </div>
                    <div class="col-sm-6">
                        {% for message in app.flashes('success') %}
                            <div class="btn btn-success btn-rounded swal-success float-right">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                    <tr>
                                        <th>Numéro</th>
                                        <th>Prénom</th>
                                        <th>Nom</th>
                                        <th>Cin</th>
                                        <th>Numéro Cnss</th>
                                        <th>Fonction</th>
                                        <th>Grade</th>
                                        <th>Salaire</th>
                                        <th>Absences ce mois</th>
                                        {% if date('now')|date('d') > 10 %}
                                            <th>Avances prises le mois de {{ date('now')|date('F/Y')}}</th>
                                        {% else %}
                                            <th>Avances prises le mois de {{ date('-1 months')|date('F/Y') }}</th>
                                        {% endif %}
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for personnel in personnels %}
                                        <tr>
                                            <td>
                                                <div class="relative mrg-top-15">
                                                    <span class="">{{ personnel.numero }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <b class="text-dark font-size-16">{{ personnel.prenom }}</b>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <b class="text-dark font-size-16">{{ personnel.nom }}</b>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span class="text-info"><b>{{ personnel.cin }}</b></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span>{{ personnel.numeroCnss }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span>{{ personnel.fonction ? personnel.fonction.nom : 'Non Renseigné' }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span>{{ personnel.grade }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span>{{ personnel.salaire }} DT</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span>{{ personnel|absence }} </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-15">
                                                    <span style="color: #e81123;">{{ personnel|avance }} DT</span>
                                                </div>
                                            </td>


                                            <td>
                                                <div class="mrg-top-15" id="actions">
                                                    <a href="{{ path('personnel_show', {'id': personnel.id }) }}">Voir</a>
                                                    <a href="{{ path('personnel_edit', {'id': personnel.id }) }}">Editer</a>
                                                    <a href="{{ path('personnel_delete', {'id': personnel.id }) }}">Supprimer</a>

                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('personnel_new') }}" class="btn btn-success float-right">
                        <i class="ei-addthis pdd-right-5"></i>
                        <span>Nouveau personnel</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


