{% extends 'base2.html.twig' %}

{% block body %}

    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Ajouter un Personnel</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Ajouter un Personnel</h4>
                        </div>
                        <div class="card-block">
                            <div class="mrg-top-40">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto">
                                        {{ form_start(form) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Numéro</label>
                                                    {{ form_widget(form.numero,{'attr': {'class' : 'form-control','placeholder' : 'Numero'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.numero) }}</label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Prénom</label>
                                                    {{ form_widget(form.prenom,{'attr': {'class' : 'form-control','placeholder' : 'Prénom'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.prenom) }}</label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Nom</label>
                                                    {{ form_widget(form.nom,{'attr': {'class' : 'form-control','placeholder' : 'Nom'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.nom) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Cin</label>
                                                    {{ form_widget(form.cin,{'attr': {'class' : 'form-control','placeholder' : 'Cin'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.cin) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Fonction</label>
                                                    {{ form_widget(form.fonction,{'attr': {'class' : 'form-control','placeholder' : 'Fonction'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.fonction) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Categorie</label>
                                                    {{ form_widget(form.grade,{'attr': {'class' : 'form-control','placeholder' : 'Catégorie'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.grade) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Salaire</label>
                                                    {{ form_widget(form.salaire,{'attr': {'class' : 'form-control','placeholder' : 'Salaire'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.salaire) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Numero Cnss</label>
                                                    {{ form_widget(form.numeroCnss,{'attr': {'class' : 'form-control','placeholder' : 'NumeroCnss'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.numeroCnss) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date d'embauche</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control date-attribution"
                                                               id="date-attribution" data-date-format="yyyy-mm-dd"
                                                               placeholder="Date d'embauche"
                                                               data-provide="datepicker">
                                                    </div>
                                                    {{ form_widget(form.dateEmbauche,{'attr': {'class' : 'form-control d-none','placeholder' : 'date d\'embauche'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.dateEmbauche) }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date Fin Contrat</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control date-attribution"
                                                               id="date-attribution" data-date-format="yyyy-mm-dd"
                                                               placeholder="Date Fin Contrat"
                                                               data-provide="datepicker">
                                                    </div>
                                                    {{ form_widget(form.dateFinContrat,{'attr': {'class' : 'form-control d-none','placeholder' : 'datePaiement'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.dateFinContrat) }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Photo</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        {{ form_widget(form.photo,{'attr': {'class' : ''}}) }}
                                                    </div>
                                                   <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.photo) }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Dossier Médical</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        {{ form_widget(form.dossierMedical,{'attr': {'class' : ''}}) }}
                                                    </div>
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.dossierMedical) }}</label>
                                                </div>
                                            </div>
                                        </div>


                                        {{ form_rest(form) }}
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="text-right mrg-top-5">
                                                    <button type="submit" class="btn btn-primary">Ajouter le personnel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <script>
        $(document).on("change",'.date-attribution',function () {
            var datee = $(this).val();
            var input = $(this).closest('div').parent().find('.d-none');
            input.val(datee);
            console.log(input.val());
        });
    </script>
{% endblock %}