{% extends 'base2.html.twig' %}

{% block body %}


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h4>Personnel numéro {{ personnel.numero }}</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for message in app.flashes("add") %}
                        <div class="btn btn-success btn-rounded swal-success float-right">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Informations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Numéro</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.numero }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Photo</b></p>
                                </div>
                                <div class="col-md-3">
                                    {% if personnel.photo is not empty %}
                                        <img width="200px"
                                             src="{{ asset('upload/img/'~ personnel.photo.id ~'.'~ personnel.photo.path ) }}"
                                             class="mrg-top-10"/>
                                        {% else %}
                                            <p class="mrg-top-10">Aucune photo a été ajouté</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Prénom</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.prenom }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Nom</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.nom }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Cin</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.cin }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Numero Cnss</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.numeroCnss }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Fonction</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.fonction }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Catégorie</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.grade }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Salaire</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.salaire }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Discipline</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.discipline }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Date d'embauche</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.dateEmbauche|date('d/m/Y') }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Date de fin contrat</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="mrg-top-10">{{ personnel.dateFinContrat|date('d/m/Y') }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Avances prisent à partir du
                                            {% if date('now')|date('d') > 10 %}
                                               10/{{ date('now')|date('m/Y') }}</b></p>
                                            {% else %}
                                             01/{{ date('-1 months')|date('m/Y') }}</b></p>
                                            {% endif %}

                                </div>
                                <div class="col-md-9">
                                    <div class="table-overflow">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Somme</th>
                                                <th>Date d'attribution</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if avances is not empty %}

                                                {% for avance in avances %}
                                                    <tr>
                                                        <td>{{ avance.somme }}</td>
                                                        <td>{{ avance.dateAttribution|date('d/m/Y') }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td align="center" colspan="5"> Aucune avance</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Absences ce mois </b></p>
                                </div>
                                <div class="col-md-9">
                                    <div class="table-overflow">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th align="center" colspan="5">Date d'absence</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if  absences is not empty %}

                                                {% for  absence in  absences %}
                                                    <tr>
                                                        <td align="center" colspan="5">{{  absence.dateAbsence|date('d/m/Y') }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td align="center" colspan="5"> Aucune absence ce mois</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Dossier médicale</b></p>
                                </div>
                                <div class="col-md-6">
                                    {% if personnel.dossierMedical is not empty %}
                                        <a href="{{ asset('upload/dossier/'~ personnel.dossierMedical.id ~'.'~ personnel.dossierMedical.path ) }}" class="btn btn-success" download>
                                            <i class="ei-file-edit pdd-right-5"></i>
                                            <span>Télécharger</span>
                                        </a>
                                    {% else %}
                                        <p class="mrg-top-10">Aucun dossier médicale a été ajouté</p>
                                    {% endif %}

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="{{ path('personnel_index') }}" class="btn btn-default">
                                                <i class="ti-reload pdd-right-5"></i>
                                                <span>Retour vers la liste</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}"
                                               class="btn btn-success">
                                                <i class="ei-file-edit pdd-right-5"></i>
                                                <span>Editer</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('personnel_delete', {'id': personnel.id}) }}"
                                               class="btn btn-danger">
                                                <i class="ti-trash pdd-right-5"></i>
                                                <span>Supprimer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
