{% extends 'base2.html.twig' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bower_components/selectize/dist/css/selectize.default.css') }}"
{% endblock %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <h4>Ajouter une Avance </h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <h4 class="card-title">Ajouter une Avance</h4>
                            </div>
                            <div class="card-block">
                                <div class="mrg-top-40">
                                    <div class="row">
                                        <div class="col-md-8 ml-auto mr-auto">
                                            {{ form_start(form,{'attr': {'id' : 'form-validation'}}) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Personnel</label>
                                                    {{ form_widget(form.personnel,{'attr': {'class' : '','placeholder' : 'Personnel'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(form.personnel) }}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Somme</label>
                                                        {{ form_widget(form.somme,{'attr': {'class' : 'form-control','placeholder' : 'somme','type' : 'number'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.somme) }}</label>
                                                         </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Date d'attribution</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control" id="date-attribution"
                                                               data-date-format="yyyy-mm-dd" placeholder="Datepicker"
                                                               data-provide="datepicker">
                                                    </div>
                                                </div>
                                                {{ form_widget(form.dateAttribution,{'attr': {'class' : 'form-control invisible','placeholder' : 'dateAttribution'}}) }}
                                                <label id="name-error" class="error"
                                                       for="name">{{ form_errors(form.dateAttribution) }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="text-right mrg-top-5">
                                                <button type="submit" class="btn btn-primary">Ajouter Une Avance
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    {% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <!-- page plugins js -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>

    <!-- page js -->
    <script src="{{ asset('assets/js/forms/form-validation.js') }}"></script>
    <script>
        $('#immobundle_avance_personnel').selectize({
            create: false,
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });
        $('#date-attribution').val(moment().format('YYYY-MM-DD'));
        $('#immobundle_avance_dateAttribution').val(moment().format('YYYY-MM-DD'));
        $(document).on("change", '#date-attribution', function () {
            var datee = $('#date-attribution').val();
            $('#immobundle_avance_dateAttribution').val(datee);
        });


    </script>
{% endblock %}