{% extends 'base2.html.twig' %}

{% block body %}


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h4>Avance numéro {{ avance.id }}</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for message in app.flashes("add") %}
                        <div class="btn btn-success btn-rounded swal-success float-right">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Informations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Id</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ avance.id }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Personnel</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ avance.personnel }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Somme</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ avance.somme }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Date Attribution</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ avance.dateAttribution|date('d-m-Y') }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="{{ path('avance_index') }}" class="btn btn-default">
                                                <i class="ti-reload pdd-right-5"></i>
                                                <span>Retour vers la liste</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('avance_edit', { 'id': avance.id }) }}"
                                               class="btn btn-success">
                                                <i class="ei-file-edit pdd-right-5"></i>
                                                <span>Editer</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('avance_delete', {'id': avance.id }) }}"
                                               class="btn btn-danger">
                                                <i class="ti-trash pdd-right-5"></i>
                                                <span>Supprimer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
