<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>BETEX</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/images/logo/favicon.png') }}">

    {% block css %}
        <!-- plugins css -->
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bower_components/PACE/themes/blue/pace-theme-minimal.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"/>

        <!-- page plugins css -->
        <link rel="stylesheet" href="{{ asset('bower_components/selectize/dist/css/selectize.default.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-daterangepicker/daterangepicker.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bower_components/summernote/dist/summernote.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bower_components/datatables/media/css/jquery.dataTables.css') }}"/>

        <!-- core css -->
        <link href="{{ asset('assets/css/ei-icon.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/themify-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>
<div class="app">
    <div class="layout">
        <!-- Side Nav START -->
        <div class="side-nav">
            <div class="side-nav-inner">
                <div class="side-nav-logo">
                    <a href="">
                        <div class="logo logo-dark" style="background-image: url('{{ asset('assets/images/logo/logo.png') }}')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('{{ asset('assets/images/logo/logo-white.png') }}')"></div>
                    </a>
                    <div class="mobile-toggle side-nav-toggle">
                        <a href="#">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
                <ul class="side-nav-menu scrollable">
                    <li class="nav-item">
                        <a class="mrg-top-30" href="{{ path('homepage') }}">
                                <span class="icon-holder">
										<i class="ti-home"></i>
									</span>
                            <span class="title">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-user"></i>
									</span>
                            <span class="title">Personnels</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('personnel_index') }}">Tous les personnels</a>
                            </li>
                            <li>
                                <a href="{{ path('personnel_new') }}">Ajouter un personnel</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-money"></i>
									</span>
                            <span class="title">Avances</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('avance_index') }}">Toutes les avances</a>
                            </li>
                            <li>
                                <a href="{{ path('avance_new') }}">Ajouter une avance</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-signal"></i>
									</span>
                            <span class="title">Absences</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('absence_index') }}">Toutes les absences</a>
                            </li>
                            <li>
                                <a href="{{ path('absence_new') }}">Ajouter une absence</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                            <span class="title">Fourniture</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fourniture_index') }}">Toutes les fournitures</a>
                            </li>
                            <li>
                                <a href="{{ path('fourniture_new') }}">Ajouter une fourniture</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                            <span class="title">Stock</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('stock_index') }}">Tout le stock</a>
                            </li>
                            <li>
                                <a href="{{ path('stock_new') }}">Ajouter un stock</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-car"></i>
									</span>
                            <span class="title">Véhicules</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('vehicules_index') }}">Tous les véhicules</a>
                            </li>
                            <li>
                                <a href="{{ path('vehicules_new') }}">Ajouter un véhicule</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-receipt"></i>
									</span>
                            <span class="title">Factures Clients</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('factureclient_index') }}">Toutes les factures clients</a>
                            </li>
                            <li>
                                <a href="{{ path('factureclient_new') }}">Ajouter une facture client</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-receipt"></i>
									</span>
                            <span class="title">Factures Fournisseurs</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('facturefournisseur_index') }}">Toutes les Factures Fournisseurs</a>
                            </li>
                            <li>
                                <a href="{{ path('facturefournisseur_new') }}">Ajouter une Facture Fournisseur</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="mrg-top-30" href="javascript:void(0)">
                                <span class="icon-holder">
										<i class="ti-receipt"></i>
									</span>
                            <span class="title">Fonctions</span>
                            <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fonction_index') }}">Toutes les Fonctions</a>
                            </li>
                            <li>
                                <a href="{{ path('fonction_new') }}">Ajouter une Fonction</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">
            <!-- Header START -->
            <div class="header navbar">
                <div class="header-container">
                    <ul class="nav-left">
                        <li>
                            <a class="side-nav-toggle" href="javascript:void(0);">
                                <i class="ti-view-grid"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="user-profile dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="user-info">
                                    <span class="name pdd-right-5">{{ app.user.email }}</span>
                                    <i class="ti-angle-down font-size-10"></i>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('logout') }}">
                                        <i class="ti-power-off pdd-right-10"></i>
                                        <span>Se déconnecter</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header END -->


            {% block body %}
                <!-- Content Wrapper START -->

                <!-- Content Wrapper END -->
            {% endblock %}


        </div>
        <!-- Page Container END -->

    </div>
</div>
{% block javascript %}
    <script src="{{ asset('assets/js/vendor.js') }}"></script>

    <script src="{{ asset('assets/js/app.min.js') }}"></script>

    <!-- page plugins js -->
    <script src="{{ asset('bower_components/datatables/media/js/jquery.dataTables.js') }}"></script>

    <!-- page js -->
    <script src="{{ asset('assets/js/table/data-table.js') }}"></script>
{% endblock %}

</body>


</html>