{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h4>Modifier une Facture client </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% for message in app.flashes("add") %}
                            <div class="btn btn-success btn-rounded swal-success float-right">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <h4 class="card-title">Modifier une Facture client</h4>
                            </div>
                            <div class="card-block">
                                <div class="mrg-top-40">
                                    <div class="row">
                                        <div class="col-md-8 ml-auto mr-auto">
                                            {{ form_start(edit_form) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Type</label>
                                                        {{ form_widget(edit_form.type,{'attr': {'class' : 'form-control','placeholder' : 'type'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.type) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Nom model</label>
                                                        {{ form_widget(edit_form.nomModel,{'attr': {'class' : 'form-control','placeholder' : 'nom model'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.nomModel) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Numéro commande</label>
                                                        {{ form_widget(edit_form.numeroCommande,{'attr': {'class' : 'form-control','placeholder' : 'numeroCommande'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.numeroCommande) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Quantité</label>
                                                        {{ form_widget(edit_form.quantite,{'attr': {'class' : 'form-control','placeholder' : 'quantite'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.quantite) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Montant</label>
                                                        {{ form_widget(edit_form.montant,{'attr': {'class' : 'form-control','placeholder' : 'quantite'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.montant) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Statut</label>
                                                        {{ form_widget(edit_form.status,{'attr': {'class' : 'form-control','placeholder' : 'quantite'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.status) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Date Prévue pour encaissement</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Date Encaissement"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(edit_form.datePrevuDencaissement,{'attr': {'class' : 'form-control d-none','placeholder' : 'dateFacturation'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.datePrevuDencaissement) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Piece Jointe</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            {{ form_widget(edit_form.pieceJointe,{'attr': {'class' : ''}}) }}
                                                        </div>
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.pieceJointe) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="text-right mrg-top-5">
                                                        <button type="submit" class="btn btn-primary">Modifier
                                                            Facture client
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_end(edit_form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <script>
        $(document).on("change",'.date-attribution',function () {
            var datee = $(this).val();
            var input = $(this).closest('div').parent().find('.d-none');
            input.val(datee);
            console.log(input);
        });
    </script>
{% endblock %}