{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Factures clients</h4>
                        </div>
                        <div class="col-sm-6">
                            {% for message in app.flashes("success") %}
                                <div class="btn btn-success btn-rounded swal-success float-right">
                                    {{ message }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-overflow">
                                    <table id="dt-opt" class="table table-lg table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Numéro Commande</th>
                                            <th>Nom Model</th>
                                            <th>Type</th>
                                            <th>Quantité</th>
                                            <th>Date d'encaissement</th>
                                            <th>Montant</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for factureClient in factureClients %}
                                            <tr>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('factureclient_show', { 'id': factureClient.id }) }}">{{ factureClient.id }}</a></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureClient.numeroCommande }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureClient.type }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureClient.nomModel }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureClient.quantite }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureClient.datePrevuDencaissement|date('d/m/y') }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureClient.montant }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                                        {% if factureClient.status == true %}
                                                            <a href="{{ path('factureclient_changeStatus', {'id': factureClient.id }) }}"
                                                               class="btn btn-success btn-rounded swal-success">Encaissée</a>
                                                        {% else %}
                                                            <a href="{{ path('factureclient_changeStatus', {'id': factureClient.id }) }}"
                                                               class="btn btn-danger btn-rounded swal-success">Non
                                                                Encaissée</a>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mrg-top-15">
                                                        <a href="{{ path('factureclient_show', { 'id': factureClient.id }) }}">Voir</a>
                                                        <a href="{{ path('factureclient_edit', { 'id': factureClient.id }) }}">Editer</a>
                                                        <a href="{{ path('factureclient_delete', { 'id': factureClient.id }) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('factureclient_new') }}" class="btn btn-success float-right">
                            <i class="ei-addthis pdd-right-5"></i>
                            <span>Nouvelle facture client</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
