{% extends 'base2.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/fullcalendar/dist/fullcalendar.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bower_components/nvd3/build/nv.d3.min.css') }}"/>

{% endblock %}

{% block body %}
    <style>
        .fc-month-view span.fc-title {
            white-space: normal;
        }
    </style>
    <div class="modal fade" id="default-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body ">
                    <h4 class="card-title pdd-left-20">Ajouter un évènement </h4>
                    {{ render(controller('ImmoBundle:Notification:new')) }}

                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-block">
                            <p class="mrg-btm-5">Salaires</p>
                            <h1 class="no-mrg-vertical font-size-35">{{ salaireApayer }} DT</h1>
                            <p class="text-semibold">Salaires à payer</p>
                            <div class="mrg-top-10">
                                <h2 class="no-mrg-btm">{% if salaire is null %} 0 {% endif %}{{ salaire }} DT</h2>
                                <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Totalité Des Salaires </span>
                                <span class="pull-right pdd-right-10 font-size-13">100%</span>
                                <div class="progress progress-primary">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100" style="width:100%">
                                    </div>
                                </div>
                            </div>
                            <div class="mrg-top-10">
                                {% if salaire != 0 %}
                                    {% set percentage = (avances / salaire ) * 100 %}
                                {% else %}
                                    {% set percentage = 0 %}
                                {% endif %}
                                <h2 class="no-mrg-btm">{% if avances is null %} 0 {% endif %}{{ avances }} DT</h2>
                                <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Avances</span>
                                <span class="pull-right pdd-right-10 font-size-13">{{ percentage|number_format(2,',','') }}
                                    %</span>
                                <div class="progress progress-success">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100" style="width:{{ percentage }}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="widget card">
                        <div class="card-block">
                            <h5 class="card-title">Aperçu mensuel</h5>
                            <div class="row mrg-top-30">
                                <div class="col-md-3 col-sm-6 col-6 border right border-hide-md">
                                    <div class="text-center pdd-vertical-10">
                                        <h2 class="font-primary no-mrg-top">{% if totalEncaisse == null %} 0 {% endif %}{{ totalEncaisse }}
                                            DT</h2>
                                        <p class="no-mrg-btm">Total des encaissements</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6 border right border-hide-md">
                                    <div class="text-center pdd-vertical-10">
                                        <h2 class="font-primary no-mrg-top">{% if totalDepensee == null %} 0 {% endif %}{{ totalDepensee }}
                                            DT</h2>
                                        <p class="no-mrg-btm">Total des Dépenses</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6 border right border-hide-md">
                                    <div class="text-center pdd-vertical-10">
                                        <h2 class="font-primary no-mrg-top">{{ gain }}
                                            DT</h2>
                                        <p class="no-mrg-btm">Gain</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="text-center pdd-vertical-10 ml-5">
                                        <div class="row">
                                            <div class="mx-2 mt-1" style="background-color: #37c936;height: 10px;width: 10px"></div>
                                            <p class="no-mrg-btm">Encaissements</p>
                                        </div>
                                        <div class="row">
                                            <div class="mx-2 mt-1" style="background-color: #0f9aee;height: 10px;width: 10px"></div>
                                            <p class="no-mrg-btm">Dépenses</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-35">
                                <div class="col-md-12">
                                    <div>
                                        <canvas id="line-chart" height="220"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-heading">
                            <h4 class="card-title inline-block pdd-top-5">A Venir</h4>
                            <span class="float-right"><a href="javascript:void(0)" data-toggle="modal" data-target="#default-modal" class="btn btn-primary btn-rounded swal-success">Ajouter un évènement</a></span>
                        </div>
                        <div class="pdd-horizon-20 pdd-vertical-5">
                            <div class="overflow-y-auto relative scrollable" style="max-height: 381px">
                                <table  class="table table-lg table-hover">
                                    <tbody>
                                    {% for event in events %}
                                        <tr>
                                            <td>
                                                <div class="list-info">
                                                    <div class="info" style="padding-left: 0">
                                                        {% if event.IdExterne != 0 %} <a
                                                                href="{{ path('vehicules_show', {'id': event.IdExterne}) }}"> {% endif %}
                                                            <span class="title">{{ event.title }}</span>
                                                            {% if event.IdExterne != 0 %} </a> {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mrg-top-10">
                                                    <span>{{ event.start|date("d/m/Y") }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% if events is empty %}
                                        <tr>
                                            <td>
                                                Aucun évènement trouvé
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-block">
                            <p class="mrg-btm-5">Factures Fournisseurs</p>
                            <h1 class="no-mrg-vertical font-size-35">{% if fournitureQuantity is null %} 0 {% endif %}{{ facturesFournisseurs|length }}</h1>
                            <p class="text-semibold">Non payée</p>
                            <div class="scrollable" style="max-height: 230px">
                                {% for stok in facturesFournisseurs %}
                                    <hr>
                                    <div class="mrg-top-10">
                                        <h2 class="no-mrg-btm">{{ stok.montant }} DT</h2>
                                        <a href="{{ path('facturefournisseur_show', {'id': stok.id}) }}"><span
                                                    class="inline-block mrg-btm-10 font-size-13 text-semibold">Facture #{{ stok.numeroCommande }}</span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-block">
                            <p class="mrg-btm-5">Factures Clients</p>
                            <h1 class="no-mrg-vertical font-size-35">{% if fournitureQuantity is null %} 0 {% endif %}{{ facturesClient|length }}</h1>
                            <p class="text-semibold">Non encaissée</p>
                            <div class="scrollable" style="max-height: 230px">
                                {% for stok in facturesClient %}
                                    <hr>
                                    <div class="mrg-top-10">
                                        <h2 class="no-mrg-btm">{{ stok.montant }} DT</h2>
                                        <a href="{{ path('factureclient_show', {'id': stok.id}) }}"><span
                                                    class="inline-block mrg-btm-10 font-size-13 text-semibold">Facture #{{ stok.numeroCommande }}</span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                {#<div class="col-lg-4">#}
                {#<div class="card calendar-event">#}
                {#<div class="card-block overlay-dark bg"#}
                {#style="background-image: url('assets/images/others/img-8.jpg')">#}
                {#<div class="text-center">#}
                {#<h1 class="font-size-65 text-light mrg-btm-5 lh-1">{{ date('now')|date('d') }}<span#}
                {#class="font-size-18">ème</span></h1>#}
                {#<h2 class="no-mrg-top" id="aujourdui"></h2>#}
                {#</div>#}
                {#</div>#}
                {#<div class="card-block">#}
                {#<button type="button" data-toggle="modal" data-target="#default-modal"#}
                {#class="add-event btn-warning">#}
                {#<i class="ti-plus"></i>#}
                {#</button>#}
                {#<ul class="event-list">#}
                {#{% for notification in notifications %}#}
                {#<li class="event-items">#}
                {#<a href="javascript:void(0);" data-toggle="modal" data-target="#calendar-edit">#}
                {#<span class="bullet success"></span>#}
                {#<span class="event-name"> {{ notification.title }}</span>#}
                {#<div class="event-detail">#}
                {#<span>{{ notification.start|date('d/m/Y h:m') }}</span>#}
                {#</div>#}
                {#</a>#}
                {#<a href="{{ path('notification_delete', {'id': notification.id }) }}"#}
                {#onclick="this.form.submit()" class="remove">#}
                {#<i class="ti-trash"></i>#}
                {#</a>#}
                {#</li>#}
                {#{% endfor %}#}

                {#</ul>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <div class="col-lg-12">
                    <div id='full-calendar'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('assets/js/maps/jquery-jvectormap-us-aea.js') }}"></script>
    <script src="{{ asset('bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ asset('bower_components/nvd3/build/nv.d3.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery.sparkline/index.js') }}"></script>
    <script src="{{ asset('bower_components/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('bower_components/fullcalendar/dist/gcal.js') }}"></script>
    <script src="{{ asset('bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ asset('bower_components/nvd3/build/nv.d3.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery.sparkline/index.js') }}"></script>
    <script src="{{ asset('bower_components/chart.js/dist/Chart.min.js') }}"></script>

    <!-- page js -->
    {#<script src="{{ asset('assets/js/dashboard/dashboard.js') }}"></script>#}

    <script>
        (function ($) {
            'use strict';
            var primary = '#7774e7',
                success = '#37c936',
                info = '#0f9aee',
                warning = '#ffcc00',
                danger = '#ff3c7e',
                primaryInverse = 'rgba(119, 116, 231, 0.1)',
                successInverse = 'rgba(55, 201, 54, 0.1)',
                infoInverse = 'rgba(15, 154, 238, 0.1)',
                warningInverse = 'rgba(255, 204, 0, 0.1)',
                dangerInverse = 'rgba(255, 60, 126, 0.1)',
                gray = '#f6f7fb',
                white = '#fff',
                dark = '#515365'
            var lineChart = document.getElementById("line-chart");
            var lineCtx = lineChart.getContext('2d');
            lineChart.height = 80;
            var datapack1 = [
                {% for s in stats[0] %}
                {% if s == null %} 0 {% endif %} {{ s }} ,
                {% endfor %}
            ];
            var datapack2 = [
                {% for s in stats[1] %}
                {% if s == null %} 0 {% endif %} {{ s }} ,
                {% endfor %}
            ];
            var lineConfig = new Chart(lineCtx, {
                type: 'line',
                data: {
                    labels: ["Janvier", "Février", "Mars", "Avril", "Mail", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
                    datasets: [{
                        label: 'Dépenses',
                        backgroundColor: infoInverse,
                        borderColor: info,
                        pointBackgroundColor: info,
                        borderWidth: 2,
                        data: datapack1
                    },
                        {
                            label: 'Encaissements',
                            backgroundColor: successInverse,
                            borderColor: success,
                            pointBackgroundColor: success,
                            borderWidth: 2,
                            data: datapack2
                        }]
                },

                options: {
                    legend: {
                        display: false
                    },
                    scales: {

                        yAxes: [{

                            stacked: true,
                            ticks: {
                                min: 0,
                                stepSize: 2000,
                            }

                        }]
                    }
                }
            });
        })(jQuery);
    </script>


    <script>
        moment.locale('fr', {
            months: 'janvier_février_mars_avril_mai_juin_juillet_août_septembre_octobre_novembre_décembre'.split('_'),
            monthsShort: 'janv._févr._mars_avr._mai_juin_juil._août_sept._oct._nov._déc.'.split('_'),
            monthsParseExact: true,
            weekdays: 'dimanche_lundi_mardi_mercredi_jeudi_vendredi_samedi'.split('_'),
            weekdaysShort: 'dim._lun._mar._mer._jeu._ven._sam.'.split('_'),
            weekdaysMin: 'Di_Lu_Ma_Me_Je_Ve_Sa'.split('_'),
            weekdaysParseExact: true,
            longDateFormat: {
                LT: 'HH:mm',
                LTS: 'HH:mm:ss',
                L: 'DD/MM/YYYY',
                LL: 'D MMMM YYYY',
                LLL: 'D MMMM YYYY HH:mm',
                LLLL: 'dddd D MMMM YYYY HH:mm'
            },
            calendar: {
                sameDay: '[Aujourd’hui à] LT',
                nextDay: '[Demain à] LT',
                nextWeek: 'dddd [à] LT',
                lastDay: '[Hier à] LT',
                lastWeek: 'dddd [dernier à] LT',
                sameElse: 'L'
            },
            relativeTime: {
                future: 'dans %s',
                past: 'il y a %s',
                s: 'quelques secondes',
                m: 'une minute',
                mm: '%d minutes',
                h: 'une heure',
                hh: '%d heures',
                d: 'un jour',
                dd: '%d jours',
                M: 'un mois',
                MM: '%d mois',
                y: 'un an',
                yy: '%d ans'
            },
            dayOfMonthOrdinalParse: /\d{1,2}(er|e)/,
            ordinal: function (number) {
                return number + (number === 1 ? 'er' : 'e');
            },
            meridiemParse: /PD|MD/,
            isPM: function (input) {
                return input.charAt(0) === 'M';
            },
            // In case the meridiem units are not separated around 12, then implement
            // this function (look at locale/id.js for an example).
            // meridiemHour : function (hour, meridiem) {
            //     return /* 0-23 hour, given meridiem token and hour 1-12 */ ;
            // },
            meridiem: function (hours, minutes, isLower) {
                return hours < 12 ? 'PD' : 'MD';
            },
            week: {
                dow: 1, // Monday is the first day of the week.
                doy: 4  // The week that contains Jan 4th is the first week of the year.
            }
        });
        moment.locale('fr');
        $('#aujourdui').html(moment().format('dddd'))

    </script>

    <script>
        (function ($) {
            'use strict';

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var events = [

                {% for vehicule in vehicules %}
                {
                    title: 'Date Paiement Assurance du # {{ vehicule.immatriculation }}',
                    start: '{{ vehicule.assuranceDF|date('D M d Y H:i:s O') }}',
                    allDay: true,
                },
                {
                    title: 'Renouvellement Visite Technique du # {{ vehicule.immatriculation }}',
                    start: '{{ vehicule.visiteTechniqueDF|date('D M d Y H:i:s O') }}',
                    allDay: true,

                },
                {
                    title: 'Renouvellement Permis Bleu du # {{ vehicule.immatriculation }}',
                    start: '{{ vehicule.permisBleuDF|date('D M d Y H:i:s O') }}',
                    allDay: true,

                },
                {
                    title: 'Paiement Taxe du # {{ vehicule.immatriculation }}',
                    start: '{{ vehicule.taxeDF|date('D M d Y H:i:s O') }}',
                    allDay: true,

                },
                {% endfor %}
                {% for facture in facturesFournisseurs %}
                {
                    title: 'Date Paiement Facture Fournisseur #{{ facture.numeroCommande }}',
                    start: '{{ facture.datePaiement|date('D M d Y H:i:s O') }}',
                    allDay: true,

                },
                {% endfor %}
                {% for notification in notifications %}
                {
                    title: '{{ notification.title }}',
                    start: '{{ notification.start|date('D M d Y H:i:s O') }}',
                    allDay: {% if notification.allDay == true %} true {% else %} false {% endif %},

                },
                {% endfor %}

//                {
//                title: 'All Day Event',
//                start: new Date(y, m, 1),
//                desc:'Meetings',
//                bullet: 'success'
//            },
//                {
//                    title: 'Long Event',
//                    start: new Date(y, m, d - 5),
//                    end: new Date(y, m, d - 2),
//                    desc:'Hangouts',
//                    bullet: 'success'
//                },
//                {
//                    title: 'Repeating Event',
//                    start: new Date(y, m, d - 3, 16, 0),
//                    allDay: false,
//                    desc:'Product Checkup',
//                    bullet: 'warning'
//                },
//                {
//                    title: 'Repeating Event',
//                    start: new Date(y, m, d + 4, 16, 0),
//                    allDay: false,
//                    desc:'Conference',
//                    bullet: 'danger'
//                },
//                {
//                    title: 'Birthday Party',
//                    start: new Date(y, m, d + 1, 19, 0),
//                    end: new Date(y, m, d + 1, 22, 30),
//                    allDay: false,
//                    desc:'Gathering'
//                },
//                {
//                    title: 'Click for Google',
//                    start: new Date(y, m, 28),
//                    end: new Date(y, m, 29),
//                    url: 'http://google.com/',
//                    desc:'Google',
//                    bullet: 'success'
//                },
            ];

            $('#full-calendar').fullCalendar({
                lang: 'fr',
                locale: 'fr',
                height: 600,
                header: {
                    left: 'month,agendaWeek,agendaDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                events: events
            });

//            $('.start-date').datepicker();
//            $('.end-date').datepicker();

        })(jQuery);
    </script>


{% endblock %}

