    {% extends 'base2.html.twig' %}

    {% block body %}
    <div class="main-content">
    <div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4>Fonctions</h4>
            </div>
            <div class="col-sm-6">
            {% for message in app.flashes("success") %}
                    <div class="btn btn-success btn-rounded swal-success float-right">
                        {{ message }}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="table-overflow">
                        <table id="dt-opt" class="table table-lg table-hover">
                            <thead>
                            <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Hourprice</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fonction in fonctions %}
                            <tr>
                                <td>
                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('fonction_show', { 'id': fonction.id }) }}">{{ fonction.id }}</a></span>
                                    </div>
                                </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ fonction.nom }}
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ fonction.hourPrice }}
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                                <a href="{{ path('fonction_show', { 'id': fonction.id }) }}">show</a>
                                                <a href="{{ path('fonction_edit', { 'id': fonction.id }) }}">edit</a>
                                        </div>
                                    </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <a href="{{ path('fonction_new') }}" class="btn btn-success float-right">
                    <i class="ei-addthis pdd-right-5"></i>
                    <span>Nouveau fonction</span>
                </a>
            </div>

        </div>
        </div>
        </div>
    {% endblock %}
