    {% extends 'base2.html.twig' %}

    {% block body %}
    <div class="main-content">
    <div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4>Stock</h4>
            </div>
            <div class="col-sm-6">
            {% for message in app.flashes("success") %}
                    <div class="btn btn-success btn-rounded swal-success float-right">
                        {{ message }}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="table-overflow">
                        <table id="dt-opt" class="table table-lg table-hover">
                            <thead>
                            <tr>
                                <th>Numéro commande</th>
                                <th>Type</th>
                                <th>Date d'entrée</th>
                                <th>Quantité</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stock in stocks %}
                                <tr>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ stock.numeroCommande }}</span></div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ stock.type }}</span></div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ stock.dateEntree|date('Y-m-d') }}</span></div>
                                    </td>
                                <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ stock.quantity }}</span></div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                                <a href="{{ path('stock_show', { 'id': stock.id }) }}">Voir</a>
                                                <a href="{{ path('stock_edit', { 'id': stock.id }) }}">Editer</a>
                                                <a href="{{ path('stock_delete', { 'id': stock.id }) }}">Supprimer</a>
                                        </div>
                                    </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <a href="{{ path('stock_new') }}" class="btn btn-success float-right">
                    <i class="ei-addthis pdd-right-5"></i>
                    <span>Nouveau stock</span>
                </a>
            </div>

        </div>
        </div>
        </div>
    {% endblock %}
