{% extends 'base2.html.twig' %}

{% block body %}


        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h4>Stock numéro {{stock.id }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% for message in app.flashes("add") %}
                            <div class="btn btn-success btn-rounded swal-success float-right">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="card-title">Informations</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Id</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ stock.id }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Type</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ stock.type }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Quantity</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ stock.quantity }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Numerocommande</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ stock.numeroCommande }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{{ path('stock_index') }}" class="btn btn-default">
                                                    <i class="ti-reload pdd-right-5"></i>
                                                    <span>Retour vers la liste</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="{{ path('stock_edit', { 'id': stock.id }) }}" class="btn btn-success">
                                                    <i class="ei-file-edit pdd-right-5"></i>
                                                    <span>Editer</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="{{ path('stock_delete', {'id': stock.id}) }}"
                                                   class="btn btn-danger">
                                                    <i class="ti-trash pdd-right-5"></i>
                                                    <span>Supprimer</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
