{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Facture fournisseurs</h4>
                        </div>
                        <div class="col-sm-6">
                            {% for message in app.flashes("success") %}
                                <div class="btn btn-success btn-rounded swal-success float-right">
                                    {{ message }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-overflow">
                                    <table id="dt-opt" class="table table-lg table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Numéro commande</th>
                                            <th>Nom fournisseur</th>
                                            <th>Montant</th>
                                            <th>Référence article</th>
                                            <th>Date facturation</th>
                                            <th>Date paiement</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for factureFournisseur in factureFournisseurs %}
                                            <tr>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('facturefournisseur_show', { 'id': factureFournisseur.id }) }}">{{ factureFournisseur.id }}</a></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureFournisseur.numeroCommande }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureFournisseur.nomFournisseur }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureFournisseur.montant }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureFournisseur.referenceArticle }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureFournisseur.dateFacturation|date('d/m/y') }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ factureFournisseur.datePaiement|date('d/m/y') }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                                        {% if factureFournisseur.status == true %}
                                                            <a href="{{ path('facturefournisseur_changeStatus', {'id': factureFournisseur.id}) }}"
                                                               class="btn btn-success btn-rounded swal-success">Payée</a>
                                                        {% else %}
                                                            <a href="{{ path('facturefournisseur_changeStatus', {'id': factureFournisseur.id}) }}"
                                                               class="btn btn-danger btn-rounded swal-success">Non Payée</a>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mrg-top-15">
                                                        <a href="{{ path('facturefournisseur_show', { 'id': factureFournisseur.id }) }}">Voir</a>
                                                        <a href="{{ path('facturefournisseur_edit', { 'id': factureFournisseur.id }) }}">Editer</a>
                                                        <a href="{{ path('facturefournisseur_delete', { 'id': factureFournisseur.id }) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('facturefournisseur_new') }}" class="btn btn-success float-right">
                            <i class="ei-addthis pdd-right-5"></i>
                            <span>Nouvelle facture Fournisseur</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
