{% extends 'base2.html.twig' %}

{% block body %}


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h4>Facture fournisseur numéro {{ factureFournisseur.id }}</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for message in app.flashes("add") %}
                        <div class="btn btn-success btn-rounded swal-success float-right">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Informations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Id</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.id }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Numéro commande</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.numeroCommande }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Statut</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">
                                        {% if factureFournisseur.status == true %}
                                            <a href="#"
                                               class="btn btn-success btn-rounded swal-success">Payée</a>
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-rounded swal-success">Non
                                                Payée</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Nom fournisseur</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.nomFournisseur }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Montant</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.montant }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Réference article</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.referenceArticle }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Date facturation</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.dateFacturation|date('d/m/y') }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Date paiement</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ factureFournisseur.datePaiement|date('d/m/y') }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="{{ path('facturefournisseur_index') }}" class="btn btn-default">
                                                <i class="ti-reload pdd-right-5"></i>
                                                <span>Retour vers la liste</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('facturefournisseur_edit', { 'id': factureFournisseur.id }) }}"
                                               class="btn btn-success">
                                                <i class="ei-file-edit pdd-right-5"></i>
                                                <span>Editer</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('facturefournisseur_delete', {'id': factureFournisseur.id }) }}"
                                               class="btn btn-danger">
                                                <i class="ti-trash pdd-right-5"></i>
                                                <span>Supprimer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
