{% extends 'base2.html.twig' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bower_components/selectize/dist/css/selectize.default.css') }}"
{% endblock %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <h4>Ajouter un chauffeur </h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <h4 class="card-title">Ajouter un chauffeur</h4>
                            </div>
                            <div class="card-block">
                                <div class="mrg-top-40">
                                    <div class="row">
                                        <div class="col-md-8 ml-auto mr-auto">
                                            {{ form_start(form,{'attr': {'id' : 'form-validation'}}) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Nom</label>
                                                        {{ form_widget(form.nom,{'attr': {'class' : 'form-control','placeholder' : 'Nom'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.nom) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Prenom</label>
                                                        {{ form_widget(form.prenom,{'attr': {'class' : 'form-control','placeholder' : 'Prenom'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.prenom) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="text-right mrg-top-5">
                                                <button type="submit" class="btn btn-primary">Ajouter Un Chauffeur
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    {% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <!-- page plugins js -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>

    <!-- page js -->
    <script src="{{ asset('assets/js/forms/form-validation.js') }}"></script>
{% endblock %}