{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Vehicules</h4>
                        </div>
                        <div class="col-sm-6">
                            {% for message in app.flashes("success") %}
                                <div class="btn btn-success btn-rounded swal-success float-right">
                                    {{ message }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-overflow">
                                    <table id="dt-opt" class="table table-lg table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Immatriculation</th>
                                            <th>Model</th>
                                            <th colspan="2">Assurance</th>
                                            <th colspan="2">Visite Technique</th>
                                            <th colspan="2">Permis Bleu</th>
                                            <th colspan="2">Taxe</th>
                                            <th>Actions</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Début</th>
                                            <th>Fin</th>

                                            <th>Début</th>
                                            <th>Fin</th>

                                            <th>Début</th>
                                            <th>Fin</th>

                                            <th>Début</th>
                                            <th>Fin</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for vehicule in vehicules %}
                                            <tr>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('vehicules_show', { 'id': vehicule.id }) }}">{{ vehicule.id }}</a></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.immatriculation }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.model }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.assuranceDD|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.assuranceDF|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.visiteTechniqueDD|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.visiteTechniqueDF|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.permisBleuDD|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ vehicule.permisBleuDF|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                                        <span class="">{{ vehicule.taxeDD|date('Y-m-d') }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                                        <span class="">{{ vehicule.taxeDF|date('Y-m-d') }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mrg-top-15">
                                                        <a href="{{ path('vehicules_show', { 'id': vehicule.id }) }}">Voir</a>
                                                        <a href="{{ path('vehicules_edit', { 'id': vehicule.id }) }}">Editer</a>
                                                        <a href="{{ path('vehicules_delete', { 'id': vehicule.id }) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('vehicules_new') }}" class="btn btn-success float-right">
                            <i class="ei-addthis pdd-right-5"></i>
                            <span>Nouveau vehicule</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
