{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <h4>Ajouter un Vehicule </h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <h4 class="card-title">Ajouter un Véhicule</h4>
                            </div>
                            <div class="card-block">
                                <div class="mrg-top-40">
                                    <div class="row">
                                        <div class="col-md-8 ml-auto mr-auto">
                                            {{ form_start(form) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Immatriculation</label>
                                                        {{ form_widget(form.immatriculation,{'attr': {'class' : 'form-control','placeholder' : 'immatriculation'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.immatriculation) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Model</label>
                                                        {{ form_widget(form.model,{'attr': {'class' : 'form-control','placeholder' : 'model'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.model) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date début Assurance</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.assuranceDD,{'attr': {'class' : 'd-none form-control','placeholder' : 'assurance'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.assuranceDD) }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Fin Assurance</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.assuranceDF,{'attr': {'class' : 'd-none form-control','placeholder' : 'assurance'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.assuranceDF) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Début Visite Technique</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.visiteTechniqueDD,{'attr': {'class' : 'd-none form-control','placeholder' : 'visiteTechnique'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.visiteTechniqueDD) }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Fin Visite Technique</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.visiteTechniqueDF,{'attr': {'class' : 'd-none form-control','placeholder' : 'visiteTechnique'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.visiteTechniqueDF) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Début Permis Bleu</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.permisBleuDD,{'attr': {'class' : 'd-none form-control','placeholder' : 'permisBleu'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.permisBleuDD) }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Fin Permis Bleu</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.permisBleuDF,{'attr': {'class' : 'd-none form-control','placeholder' : 'permisBleu'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.permisBleuDF) }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Début Taxe</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.taxeDD,{'attr': {'class' : 'd-none form-control','placeholder' : 'taxe'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.taxeDD) }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Date Fin Taxe</label>
                                                        <div class="timepicker-input input-icon form-group">
                                                            <i class="ti-time"></i>
                                                            <input type="text" class="form-control date-attribution"
                                                                   id="date-attribution" data-date-format="yyyy-mm-dd"
                                                                   placeholder="Datepicker"
                                                                   data-provide="datepicker">
                                                        </div>
                                                        {{ form_widget(form.taxeDF,{'attr': {'class' : 'd-none form-control','placeholder' : 'taxe'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(form.taxeDF) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="text-right mrg-top-5">
                                                        <button type="submit" class="btn btn-primary">Ajouter Vehicule
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <script>
        var array = $('.timepicker-input .form-control');
        array.val(moment().format('YYYY-MM-DD'));
        $.each(array,function (key,value) {
            $(this).closest('div').parent().find('input[type=date]').val(moment().format('YYYY-MM-DD'));
        });
        $(document).on("change",'.date-attribution',function () {
            var datee = $(this).val();
            var input = $(this).closest('div').parent().find('input[type=date]');
            input.val(datee);
            console.log(input.val());
        });
    </script>
{% endblock %}