{% extends 'base2.html.twig' %}

{% block body %}


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h4>Vehicule numéro {{ vehicule.id }}</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for message in app.flashes("add") %}
                        <div class="btn btn-success btn-rounded swal-success float-right">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Informations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Id</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ vehicule.id }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Immatriculation</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ vehicule.immatriculation }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Assurance</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date début</b></p>
                                            <p class="mrg-top-10">{{ vehicule.assuranceDD|date('Y-m-d') }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date fin</b></p>
                                            <p class="mrg-top-10">{{ vehicule.assuranceDF|date('Y-m-d') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Visite Technique</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date début</b></p>
                                            <p class="mrg-top-10">{{ vehicule.visiteTechniqueDD|date('Y-m-d') }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date fin</b></p>
                                            <p class="mrg-top-10">{{ vehicule.visiteTechniqueDF|date('Y-m-d') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Permis Bleu</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date début</b></p>
                                            <p class="mrg-top-10">{{ vehicule.permisBleuDD|date('Y-m-d') }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date fin</b></p>
                                            <p class="mrg-top-10">{{ vehicule.permisBleuDF|date('Y-m-d') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Taxe</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date début</b></p>
                                            <p class="mrg-top-10">{{ vehicule.taxeDD|date('Y-m-d') }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date fin</b></p>
                                            <p class="mrg-top-10">{{ vehicule.taxeDF|date('Y-m-d') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Autorisation Chauffeur</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date début</b></p>
                                            <p class="mrg-top-10">{{ vehicule.autorisationChauffeurDD|date('Y-m-d') }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10 text-dark"><b>Date fin</b></p>
                                            <p class="mrg-top-10">{{ vehicule.autorisationChauffeurDF|date('Y-m-d') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="{{ path('vehicules_index') }}" class="btn btn-default">
                                                <i class="ti-reload pdd-right-5"></i>
                                                <span>Retour vers la liste</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('vehicules_edit', { 'id': vehicule.id }) }}"
                                               class="btn btn-success">
                                                <i class="ei-file-edit pdd-right-5"></i>
                                                <span>Editer</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('vehicules_delete', {'id': vehicule.id}) }}"
                                               class="btn btn-danger">
                                                <i class="ti-trash pdd-right-5"></i>
                                                <span>Supprimer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
