    {% extends 'base2.html.twig' %}

    {% block body %}
    <div class="main-content">
    <div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4>Notifications</h4>
            </div>
            <div class="col-sm-6">
            {% for message in app.flashes("success") %}
                    <div class="btn btn-success btn-rounded swal-success float-right">
                        {{ message }}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="table-overflow">
                        <table id="dt-opt" class="table table-lg table-hover">
                            <thead>
                            <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Start</th>
                                    <th>Allday</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for notification in notifications %}
                            <tr>
                                <td>
                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('notification_show', { 'id': notification.id }) }}">{{ notification.id }}</a></span>
                                    </div>
                                </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ notification.title }}
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{% if notification.allDay %}Yes{% else %}No{% endif %}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                                <a href="{{ path('notification_show', { 'id': notification.id }) }}">show</a>
                                                <a href="{{ path('notification_edit', { 'id': notification.id }) }}">edit</a>
                                        </div>
                                    </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <a href="{{ path('notification_new') }}" class="btn btn-success float-right">
                    <i class="ei-addthis pdd-right-5"></i>
                    <span>Nouveau notification</span>
                </a>
            </div>

        </div>
        </div>
        </div>
    {% endblock %}
