{{ form_start(form,{'attr': {'class' : 'form-horizontal mrg-top-40 pdd-left-30 pdd-right-20' , 'action' : path('notification_new')}}) }}

    {{ form_errors(form) }}

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label for="form-1-1" class="col-md-2 control-label">Nom</label>
            <div class="col-md-10">
                {{ form_widget(form.title,{'attr': {'class' : 'form-control','placeholder' : 'Nom'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label for="form-1-1" class="col-md-2 control-label">Début</label>
            <div class="col-md-10">
                {{ form_widget(form.start) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="checkbox ">
                    {{ form_widget(form.allDay) }}
                    <label for="immobundle_notification_allDay" class="control-label">Toute la journée</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal-footer no-border">
        <div class="text-right float-right">
            <button class="btn btn-default btn-sm" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary btn-sm">OK</button>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

