{% extends 'base2.html.twig' %}

{% block body %}


        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <h4>Notification numéro {{notification.id }}</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="card-title">Informations</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Id</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ notification.id }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Title</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ notification.title }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Start</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ notification.start }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>Allday</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ notification.allDay }}</p>
                                    </div>
                                </div>
                                <hr>                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{{ path('notification_index') }}" class="btn btn-default">
                                                    <i class="ti-reload pdd-right-5"></i>
                                                    <span>Retour vers la liste</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="{{ path('notification_edit', { 'id': notification.id }) }}" class="btn btn-success">
                                                    <i class="ei-file-edit pdd-right-5"></i>
                                                    <span>Editer</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href=""
                                                   class="btn btn-danger">
                                                    <i class="ti-trash pdd-right-5"></i>
                                                    <span>Supprimer</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
