<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>BETEX</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/images/logo/favicon.png') }}">

    <!-- plugins css -->
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bower_components/PACE/themes/blue/pace-theme-minimal.css') }}" />
    <link rel="stylesheet" href="{{ asset('bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css') }}" />

    <!-- core css -->
    <link href="{{ asset('assets/css/ei-icon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
</head>

<body>
<body>
<div class="app">
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon bg" style="background-image: url('{{ asset('assets/images/slider-2.jpg') }}')">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="row">
                            <div class="mr-auto ml-auto full-height height-100">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h2 class="inline-block no-mrg-vertical pdd-top-15">Se Connecter</h2>
                                                    </div>
                                                    <div class="mrg-btm-30">
                                                        {% if error %}
                                                        <div class="btn btn-danger btn-rounded swal-success">
                                                                {{ error }}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                    <p class="mrg-btm-15 font-size-13">Priere d'entrer votre email et mot de passe</p>
                                                    <form action="{{ path('security_login') }}" class="ng-pristine ng-valid" method="post">
                                                        <div class="form-group">
                                                            {{ form_widget(form._username,{'attr': {'class' : 'form-control','placeholder' : 'Email'}}) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_widget(form._password,{'attr': {'class' : 'form-control', 'placeholder' : 'Mot de passe'} }) }}
                                                        </div>
                                                        <div class="mrg-top-20 text-right">
                                                            <button type="submit" class="btn btn-info">Se Connecter</button>
                                                        </div>
                                                        <div class="mrg-top-20 text-right">
                                                            <a href="{{ path('security_register') }}" class="btn btn-success">S'inscrire</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/vendor.js') }}"></script>

<script src="{{ asset('assets/js/app.min.js') }}"></script>
</body>
</html>