{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h4>Modifier une Fourniture </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% for message in app.flashes("add") %}
                            <div class="btn btn-success btn-rounded swal-success float-right">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <h4 class="card-title">Modifier une Fourniture</h4>
                            </div>
                            <div class="card-block">
                                <div class="mrg-top-40">
                                    <div class="row">
                                        <div class="col-md-8 ml-auto mr-auto">
                                            {{ form_start(edit_form) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Type</label>
                                                        {{ form_widget(edit_form.type,{'attr': {'class' : 'form-control','placeholder' : 'type'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.type) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Date d'entrée</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control" id="date-attribution"
                                                               data-date-format="yyyy-mm-dd" placeholder="Date d'entrée"
                                                               data-provide="datepicker">
                                                    </div>
                                                </div>
                                                {{ form_widget(edit_form.dateEntree,{'attr': {'class' : 'form-control invisible','placeholder' : 'date d\'entrée'}}) }}
                                                <label id="name-error" class="error"
                                                       for="name">{{ form_errors(edit_form.dateEntree) }}</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Référence</label>
                                                        {{ form_widget(edit_form.reference,{'attr': {'class' : 'form-control','placeholder' : 'reference'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.reference) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Quantité</label>
                                                        {{ form_widget(edit_form.quantity,{'attr': {'class' : 'form-control','placeholder' : 'quantity'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.quantity) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Nom Client</label>
                                                        {{ form_widget(edit_form.nomClient,{'attr': {'class' : 'form-control','placeholder' : 'quantity'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.nomClient) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Numéro commande</label>
                                                        {{ form_widget(edit_form.numeroCommande,{'attr': {'class' : 'form-control','placeholder' : 'numeroCommande'}}) }}
                                                        <label id="name-error" class="error"
                                                               for="name">{{ form_errors(edit_form.numeroCommande) }}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="text-right mrg-top-5">
                                                        <button type="submit" class="btn btn-primary">Editer Fourniture
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_end(edit_form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <!-- page plugins js -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>

    <!-- page js -->
    <script src="{{ asset('assets/js/forms/form-validation.js') }}"></script>
    <script>
        $('#date-attribution').val($('#immobundle_fourniture_dateEntree').val());
        $(document).on("change", '#date-attribution', function () {
            var datee = $('#date-attribution').val();
            $('#immobundle_fourniture_dateEntree').val(datee);
        });
    </script>
{% endblock %}