{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Fournitures</h4>
                        </div>
                        <div class="col-sm-6">
                            {% for message in app.flashes("success") %}
                                <div class="btn btn-success btn-rounded swal-success float-right">
                                    {{ message }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-overflow">
                                    <table id="dt-opt" class="table table-lg table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Type</th>
                                            <th>Date d'entrée</th>
                                            <th>Réference</th>
                                            <th>Nom Client</th>
                                            <th>Quantité</th>
                                            <th>Numéro commande</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for fourniture in fournitures %}
                                            <tr>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('fourniture_show', { 'id': fourniture.id }) }}">{{ fourniture.id }}</a></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ fourniture.type }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ fourniture.dateEntree|date('Y-m-d') }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ fourniture.reference }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ fourniture.quantity }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ fourniture.nomClient }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ fourniture.numeroCommande }}</span></div>
                                                </td>
                                                <td>
                                                    <div class="mrg-top-15">
                                                        <a href="{{ path('fourniture_show', { 'id': fourniture.id }) }}">Voir</a>
                                                        <a href="{{ path('fourniture_edit', { 'id': fourniture.id }) }}">Editer</a>
                                                        <a href="{{ path('fourniture_delete', { 'id': fourniture.id }) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('fourniture_new') }}" class="btn btn-success float-right">
                            <i class="ei-addthis pdd-right-5"></i>
                            <span>Nouvelle fourniture</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
