{% extends 'base2.html.twig' %}

{% block body %}


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h4>Fourniture numéro {{ fourniture.id }}</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for message in app.flashes("add") %}
                        <div class="btn btn-success btn-rounded swal-success float-right">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Informations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Id</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ fourniture.id }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Type</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ fourniture.type }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Référence</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ fourniture.reference }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Quantité</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ fourniture.quantity }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Nom Client</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ fourniture.nomClient }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Numéro commande</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">{{ fourniture.numeroCommande }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="{{ path('fourniture_index') }}" class="btn btn-default">
                                                <i class="ti-reload pdd-right-5"></i>
                                                <span>Retour vers la liste</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('fourniture_edit', { 'id': fourniture.id }) }}"
                                               class="btn btn-success">
                                                <i class="ei-file-edit pdd-right-5"></i>
                                                <span>Editer</span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('fourniture_delete', {'id': fourniture.id}) }}"
                                               class="btn btn-danger">
                                                <i class="ti-trash pdd-right-5"></i>
                                                <span>Supprimer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
