{% block extends %}
    {{ "{% extends 'base2.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block body %}" }}
    <div class="main-content">
    <div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4>{{ entity_pluralized|capitalize }}</h4>
            </div>
            <div class="col-sm-6">
            {{ '{% for message in app.flashes("success") %}
                    <div class="btn btn-success btn-rounded swal-success float-right">
                        {{ message }}
                    </div>
                {% endfor %}
                ' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="table-overflow">
                        <table id="dt-opt" class="table table-lg table-hover">
                            <thead>
                            <tr>
                                {%- for field, metadata in fields %}

                                    <th>{{ field|capitalize }}</th>

                                {%- endfor %}

                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}

                                {%- for field, metadata in fields %}
                                {%- if loop.first and ('show' in actions) %}

                            <tr>
                                <td>
                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></span>
                                    </div>
                                </td>

                                {%- elseif metadata.type in ['datetime'] %}

                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</span>
                                        </div>
                                    </td>

                                {%- elseif metadata.type in ['date'] %}

                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</span>
                                        </div>
                                    </td>

                                {%- elseif metadata.type in ['time'] %}

                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</span>
                                        </div>
                                    </td>

                                {%- elseif metadata.type in ['array'] %}

                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</span>
                                        </div>
                                    </td>

                                {%- elseif metadata.type in ['boolean'] %}

                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</span>
                                        </div>
                                    </td>

                                {%- else %}

                                    <td>
                                        <div class="relative mrg-top-15"><span
                                                    class="">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}
                                    </td>

                                {%- endif %}

                                {%- if loop.last %}

                                    <td>
                                        <div class="mrg-top-15">

                                            {%- for action in record_actions %}

                                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ action }}</a>


                                            {%- endfor %}

                                        </div>
                                    </td>

                                {%- endif %}
                                {%- endfor %}

                            </tr>
                            {{ '{% endfor %}' }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if 'new' in actions -%}
        <div class="row">
            <div class="col-md-12">
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success float-right">
                    <i class="ei-addthis pdd-right-5"></i>
                    <span>Nouveau {{ entity_singularized }}</span>
                </a>
            </div>

        </div>
        </div>
        </div>
    {%- endif %}

    {{ "{% endblock %}" }}
{% endblock body %}
