{% block extends %}
{{ "{% extends 'base2.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}


        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <h4>{{ entity_singularized|capitalize }} numéro {{ "{{" ~ entity_singularized ~ ".id }}" }}</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="card-title">Informations</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                {%- for field, metadata in fields %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"><b>{{ field|capitalize }}</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</p>
                                    </div>
                                </div>
                                <hr>
                                {%- endfor %}
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-default">
                                                    <i class="ti-reload pdd-right-5"></i>
                                                    <span>Retour vers la liste</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ ".id }) }}" }}" class="btn btn-success">
                                                    <i class="ei-file-edit pdd-right-5"></i>
                                                    <span>Editer</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href=""
                                                   class="btn btn-danger">
                                                    <i class="ti-trash pdd-right-5"></i>
                                                    <span>Supprimer</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{{ "{% endblock %}" }}
{% endblock body %}
