{% extends 'base2.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('bower_components/selectize/dist/css/selectize.default.css') }}"
{% endblock %}
    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h4>Modifier une absence </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% for message in app.flashes("add") %}
                            <div class="btn btn-success btn-rounded swal-success float-right">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-heading border bottom">
                                <h4 class="card-title">Modifier une absence</h4>
                            </div>
                            <div class="card-block">
                                <div class="mrg-top-40">
                                    <div class="row">
                                        <div class="col-md-8 ml-auto mr-auto">
                                            {{ form_start(edit_form) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Personnel</label>
                                                    {{ form_widget(edit_form.personnel,{'attr': {'class' : '','placeholder' : 'Personnel'}}) }}
                                                    <label id="name-error" class="error"
                                                           for="name">{{ form_errors(edit_form.personnel) }}</label>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Date d'absence</label>
                                                    <div class="timepicker-input input-icon form-group">
                                                        <i class="ti-time"></i>
                                                        <input type="text" class="form-control" id="date-attribution"
                                                               data-date-format="yyyy-mm-dd" placeholder="Date d'absence"
                                                               data-provide="datepicker">
                                                    </div>
                                                </div>
                                                {{ form_widget(edit_form.dateAbsence,{'attr': {'class' : 'form-control invisible','placeholder' : 'date Absence'}}) }}
                                                <label id="name-error" class="error"
                                                       for="name">{{ form_errors(edit_form.dateAbsence) }}</label>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="text-right mrg-top-5">
                                                        <button type="submit" class="btn btn-primary">Ajouter absence
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_end(edit_form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/js/forms/form-elements.js') }}"></script>
    <script>
        $('#immobundle_absence_personnel').selectize({
            create: false,
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });
        $(document).on("change", '#date-attribution', function () {
            var datee = $('#date-attribution').val();
            $('#immobundle_absence_dateAbsence').val(datee);
        });


    </script>
{% endblock %}
