{% extends 'base2.html.twig' %}

    {% block body %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Absences</h4>
                        </div>
                        <div class="col-sm-6">
                            {% for message in app.flashes("success") %}
                                <div class="btn btn-success btn-rounded swal-success float-right">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-overflow">
                                    <table id="dt-opt" class="table table-lg table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Personnel</th>
                                            <th>Date Absence</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for absence in absences %}
                                            <tr>
                                                <td>
                                                    <div class="relative mrg-top-15">
                                        <span class=""><a
                                                    href="{{ path('absence_show', { 'id': absence.id }) }}">{{ absence.id }}</a></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ absence.personnel }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="relative mrg-top-15"><span
                                                                class="">{{ absence.dateAbsence|date('Y-m-d') }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mrg-top-15">
                                                        <a href="{{ path('absence_show', { 'id': absence.id }) }}">Voir</a>
                                                        <a href="{{ path('absence_edit', { 'id': absence.id }) }}">Editer</a>
                                                        <a href="{{ path('absence_delete', { 'id': absence.id }) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('absence_new') }}" class="btn btn-success float-right">
                            <i class="ei-addthis pdd-right-5"></i>
                            <span>Nouvelle absence</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
